.wrapper_header
  %header.header
    = render "plans/header_header"
.sticky
  = render "plans/sticky"
.d-none.d-lg-block
  .d-flex.justify-content-center.align-items-center.w-100.progress_header
    .d-flex.justify-content-start.progress_arrow
      .done 1. コース選択
      .arrow_right_done
      .done 2. お届け先の指定
      .arrow_right_done
      .wip 3. 申し込み内容・お届け先の確認
      .arrow_right_wip
      .backlog 4. お支払い
      .arrow_right_backlog
      .backlog 5. 完了
      .arrow_right_backlog
.purchase_title.d-none.d-lg-block
  .title.mx-auto.text-nowrap お申し込み内容・お届け先の確認
.purchase_guide_message.d-none.d-lg-block
  .title.mx-auto.text-center
    お申込内容とお届け先はこちらでお間違いないでしょうか？よろしければお支払い設定へお進みください。

%form#confirm_form{method: "POST"}
  .container-fluid.select_course_container
    .row.justify-content-md-center
      .col-md-auto.d-none.d-lg-block.left
        .card.cource
          %img.card_img_top{alt: "plan_img", src: "#{@plan.captured_images.where('status="3"').first.content}"}
          .card_body
            .card_title
              %img.owners_icon{alt: "owner_icon", src: "#{@plan.captured_images.where('status="4"').first.content}"}
              %h5
                = @plan.title
            .footer
              .location
                %img.location_icon{:src => "https://d1xgtamobon6ik.cloudfront.net/static/images/index/icon-location.svg"}/
                %h7.location_name
                  = @plan.place
              %h6.price
                = "#{@plan.registration_fee} 円 〜"
      .col.right.m-0.p-0
        %table.address_table
          %tbody
            %tr
              %th.course_info.hidden_on_sp コース名/価格/口数
              %th.hidden_on_sp お届け先
            %tr
              %td.course_info.hidden_on_sp.align-top
                %h3 お気軽「パッションフルーツ＆リリコイバター」コース
                .d-flex.justify-content-between.price
                  %div 4,900円
                  %div 1口
              %td.align-top.address_info
                .d-block.d-lg-none
                  %h3 お気軽「パッションフルーツ＆リリコイバター」コース
                  .d-flex.justify-content-between.price
                    %div 4,900円
                    %div 1口
                  %hr/
                .p-0.m-0.address_container
                  %span 朝賀真弘 様
                  %p
                    〒352-0014 埼玉県新座市栄
                    %br>/
                    5-10-11
                  %a.edit_button{:href => "/orders/input/118?separated=0"}
                    %img{:alt => "お届け先の変更", :src => "https://d1xgtamobon6ik.cloudfront.net/static/images/orders/pen.svg"}/
            %tr.d-block.d-lg-none.separator
              %td
        .selected_course_sum.d-none.d-lg-block.left
          .tax_shipping_fee (税・送料込み)
          .sum_title 合計
          #sum.sum 4,900円
          %hr/
        .terms.single-column
          %h2.center 利用規約
          %h3 第1章 総則
          .term-box
            %h4 第1条【定義】
            %dl.rule
              %dt 1.本規約
              %dd OWNERS　利用規約
              %dt 2.当社
              %dd 株式会社ukka　株式会社エル・エス・ピー
              %dt 3.本サービス
              %dd オーナー制度プラットフォームサービス　「OWNERS（オーナーズ）」
              %dt 4.会員
              %dd 本規約に同意の上、本サイトに会員登録をした個人および事業者の両方
              %dt 5.パートナー
              %dd 本サイトでオーナー制度商品を提案し、それを提供する事業者
              %dt 6.オーナー
              %dd 本サイトでオーナー制度商品に登録し、そのサービスを受ける者
              %dt 7.登録商品
              %dd 本サイトでパートナーが提供するオーナー制度商品および追加販売商品
              %dt 8.取引
              %dd 利用者が、パートナーが提案するオーナー制度商品への登録ならびに、追加商品購入後をその商品受け取るまでの一連の行為。
          .term-box
            %h4 第2条【規約の適用】
            %ol
              %li 本規約は、当社が運営する本サービスのすべてにおいて、会員と当社との間に適用される
              %li 本サービスを利用することにより、会員は個別規定を含む本規約および個人情報保護方針の全ての項目に同意しているものとする
              %li この本規約に同意しない場合には、本サービスを利用することができないものとする
          .term-box
            %h4 第3条【本規約の変更、追加及び改定】
            %ol
              %li 当社は、会員の同意を得ることなく本規約を任意に変更、追加及び改定、または補充することができるものとする
              %li 当社が本規約を変更、追加及び改定、または補充した場合は、会員に対して当社の定める方法において通知するものとする
              %li 変更後の本規約は、当社が別途定める場合を除いて、本サイトに掲示された時点よりその効力を生じるものとする。そして会員が本規約の変更の効力が生じた後に本サービスを利用した場合、又は当社の定める期間内に登録取消の手続をとらなかった場合には、会員は変更後の規約に同意したものとみなす
              %li 会員は、本規約の変更、追加及び改定、または補充に対して異議、クレームを唱えないものとする
              %li 当社は、規約の変更・追加により会員等に生じた一切の損害について、直接損害か間接損害か否か、予見できたか否かを問わずに、一切に責任を負わないものとする
          %h3.mt50 第2章　本サービス内容・利用申し込み等について
          .term-box
            %h4 第1条【OWNERSサービスについて】
            %ol
              %li 本サービスは、パートナーがオーナー制度に関する商品を販売、提供するためのプラットフォームを提供するサービスであり、この登録商品に関する契約は、パートナーが別途提示するところに従って会員間で成立するものとし、会員は、当社が登録商品に関する契約の当事者となるものでないことを認識するものとする。
              %li 会員は、登録商品に関する契約の内容に従って、その対価を支払い、または、その他商品やサービス提供の義務を履行するものとする。
              %li 会員は、登録商品に関する契約における契約上の地位又は当該契約に基づき発生した権利若しくは義務につき、第三者に対し、譲渡、移転、担保設定、その他の処分をすることはできない。
              %li 会員が本サービスを通じて契約した登録商品について、当社との間の利用契約が契約期間の満了、解除その他の事由により終了した場合には、その契約も終了するものとする。
              %li 当社は、登録商品について債務不履行責任、瑕疵担保責任その他一切の責任を負わないものとする。
          .term-box
            %h4 第2条【会員資格・会員登録手続】
            %ol
              %li 本規約に同意の上、当社所定の会員登録手続をされた個人および法人は、会員登録手続完了後に会員としての資格を有す
              %li 会員登録手続は、会員となる本人または法人が直接行い、代理による登録は認めないものとする
              %li 18歳未満の方は本サイトに会員登録はできないものとする
              %li 当社の裁量により、当社が相応しくないと判断した場合、会員登録を断る場合がある
              %li その他、当社は、登録を申請した者が、以下の各号のいずれかの事由に該当する場合は、登録を拒否することがある
            %ul.no-disc
              %li （1）本規約に違反するおそれがあると当社が判断した場合
              %li （2）当社に提供された登録事項の全部又は一部につき虚偽、誤記又は記載漏れがある場合
              %li （3）過去に本規約に違反した者、又はその関係者であると当社が判断した場合
              %li （4）成年被後見人、被保佐人又は被補助人のいずれかであり、法定代理人、後見人､保佐人又は補助人の同意等を得ていなかった場合
              %li （5）反社会的勢力等（暴力団、暴力団員、右翼団体、反社会的勢力、その他これに準ずる者を意味する。以下同じ。）である、又は資金提供その他を通じて反社会的勢力等の維持、運営若しくは経営に協力若しくは関与するなど反社会的勢力等との何らかの交流　 若しくは関与を行っていると当社が判断した場合
              %li （6）その他、当社が登録を適当でないと判断した場合
          .term-box
            %h4 第3条【会員情報の入力】
            %p 会員登録手続では、必要な情報を虚偽なく正確に入力するものとする
          .term-box
            %h4 第4条【会員登録情報の変更】
            %ol
              %li 登録した情報に変更が生じた場合は、当社所定の方法により、会員本人が直ちに変更の手続きを行うものとする
              %li 登録内容の変更が、会員本人により適切になされなかったことにより生じた損害等について当社は一切の責任を負わないものとする
              %li 変更がなされた場合でも、変更の登録前に開始された取引は変更登録前の情報に基づいて行われるものとする
          .term-box
            %h4 第5条【本サービスの内容】
            %p 会員は、有効に会員として登録されている期間内に限り、本規約に違反しない範囲内で、当社の定める方法に従い、本サービスを利用することができる
          .term-box
            %h4 第6条【会員資格の取消等】
            %p 1.会員が以下各号のいずれかに該当すると、当社が判断した場合、本サービスの利用を許諾せず、事前に通知することなくその違反の内容・程度に応じて、当該会員の会員資格の取消、退会処置、再登録の禁止、本サービスの一部または全部の利用停止、取引の取消その他、当社が必要と判断する措置を行えるものとする。会員はこれに対して理由の開示を求めることおよび、一切の異議の申立て等を行うことはできず、これにより会員は損害または不利益を被ったとしても、当社に対し損害賠償請求その他の一切の請求を行わないものとする
            %ul.no-disc
              %li (1)過去を含め、本規約、法令等に違反した場合
              %li (2)パスワードおよび本サービスを不正に使用、または使用させた場合
              %li (3)会員登録の情報に虚偽の内容、不足があった、またはそのおそれがある場合
              %li (4)支払停止もしくは支払不能となり、または破産手続開始、民事再生手続開始、会社更生手続開始、特別清算開始もしくはこれに類する手続の開始の申し立てがあった場合
              %li (5)クレジットカードの与信に問題が生じた場合
              %li (6)反社会勢力もしくは反社会的活動を行う団体に所属、またはこれらと関係を有する場合
              %li (7)他の会員の情報やコンテンツを事前同意なく、第三者に提供した場合
              %li (8)当社からの問い合わせその他の回答を求める連絡に対して、30日以上応答がない場合
              %li (9)その他、当社が本サービスの利用、会員としての登録、または本サービス利用の継続が適当ではないと判断した場合
            %p 2.前項各号のいずれかに該当した場合、会員は、当社に対して負っている債務の一切について当然に期限の利益を失い、直ちに当社に対して全ての債務の支払いを行わなければならないものとする
          %h3.mt50 第3章　利用上の責務
          .term-box
            %h4 第1条【ID及びパスワードの管理責任】
            %ol
              %li 会員は、ID及びパスワードの貸与、管理、使用についての一切の責任を持つものとし、ID及びパスワードの利用者または第三者により、ID及びパスワードの不正使用等があった場合、会員が一切の責任を負うものとする
              %li ID及びパスワードの利用者は、本規約の適用を受けるものとし、ID及びパスワードの利用者の行った行為が本規約に違反する場合は、当社は本規約に基づいた対応を行うものとする。また、会員はID及びパスワードの利用者が本規約を遵守するよう管理する責任を負うものとする
              %li 当社は、ID及びパスワードが不正に使用されていると判断した場合、会員への事前の通知なしに、サービスの一部または全部の停止、会員の会員資格を取り消しできるものとする。その場合、会員がID及びパスワードを利用できず本サービス上で損害が発生しても、当社は一切の責任を負わないものとする
          .term-box
            %h4 第2条【禁止事項】
            %p 会員は、本サービスを利用するにあたり、以下の各行為をしてはならない
            %ol
              %li 本規約、法令、または他の規約等に違反する行為
              %li 当社または第三者の権利、名誉等を損ねる、侵害する、またはそのおそれのある行為
              %li 他人になりすまして、当社に情報等を送信する行為
              %li 公序良俗に反する、またはそのおそれのある行為
              %li 有害なコンピュータープログラム等を送信、または書き込む行為
              %li パスワードを第三者に貸与・譲渡・転売すること、または第三者と共用する行為
              %li 会員が複数の会員登録申込を行う行為
              %li 本サービスとは関係がないと当社の判断する団体やサービス、活動への勧誘行為
              %li 本サービスに掲載されている情報をもとに、本サービスを通さずに会員同士で取引をする行為
              %li 本サービスを通じて知りえた他の会員の情報を、当該会員の明示的な承諾なくして、本サービスの利用以外の目的で利用又は第三者に提供する行為
          .term-box
            %h4 第3条【情報等の削除】
            %p 1.次の各号に定めるいずれかに該当する場合、当社は、会員が本サービスを通じウェブサイト上に掲載した情報を削除できるものとする。ただし、削除を行う場合は、事前または事後に合理的と判断する手段により通知を行うものとする当社が判断した場合
            %ul.no-disc
              %li (1)掲載内容が本規約に定める禁止行為、また、本規約のいずれかの条項に違反すると当社が判断した場合
              %li (2)会員によって登録された情報の容量が当社所定の容量を超過した場合
              %li (3)会員が登録した内容が権利侵害、名誉毀損、侮辱表現であると判断した場合
              %li (4)わいせいつ表現、暴力的表現、公序良俗に反する表現、反社会的表現および、当社が不適切と判断した表現があった場合
            %p 2.当社が、本条に基づき、会員が本サービスを通じウェブサイト上に掲載した情報を削除したことにより、会員あるいは第三者が被った損害については、当社は一切責任を負わないものとする
          %h3.mt50 第4章　本サービスの中止・停止等
          .term-box
            %h4 第1条【本サービスの停止・中止・一時的な中断】
            %p 1.当社は、以下各号の事由に起因する場合、本サービスの全部または一部を停止・中止・一時的な中断をできるものとする。これに起因して、会員または第三者に損害が発生した場合、当社は一切の責任を負わないものとする。また、当社は本サービスを停止・中止・一時的な中断を行う場合は、事前にサイト上でその旨の通知を行うものとする。ただし、緊急の場合はこの限りではないものとする。
            %ul.no-disc
              %li (1)定期的または緊急に本サービス提供のためのシステムの保守または点検を行うとき
              %li (2)天災、火災、停電等の非常事態により本サービスの運営が不可能となったとき
              %li (3)第三者からの本サービスへの不正アクセス、有害なコンピュータープログラム等により、本サービスの提供ができないとき
              %li (4)法令等に基づく措置により本サービスが提供できないとき
              %li (5)その他、当社がやむを得ないと判断したとき
          .term-box
            %h4 第2条【本サービスの廃止】
            %ol
              %li 当社は、業務上の都合により、会員に対して提供している本サービスの全部または一部を廃止することができるものとする
              %li 当社は、前項において定める本サービスの廃止を行う場合には、少なくとも１カ月前までにその旨を当社が適当と判断する方法により会員に通知するものとする
              %li 当社は、本サービスの廃止により会員に生じた損害については一切の責任を負わないものとする。ただし、当社が会員より預かる売上金については適宜清算するものとする。
              %li サービス停止を行う場合においては、会員に対して不利益が生じないよう、システム提供面においては、必要な範囲内でサービス完了までのサポートを行うものとする。
          %h3.mt50 第5章　損害賠償等
          .term-box
            %h4 第1条【免責事項】
            %ol
              %li 本サービスは、パートナーがオーナー制度に関する商品ならびに登録したオーナーに対しての追加購入商品を販売するためのプラットフォームを提供するものにすぎず、当社はその販売取引の成否、情報の正確性、真実性、適法性等について責任を負うものではない。また、如何なる場合も当社は取引の当事者となるものではなく、登録されている情報やサービス提供においての瑕疵担保責任その他一切の責任を負うものではなく、その販売責任についても、登録商品を提案するパートナーが負うものとする。
              %li 会員は、本サービスを利用することが、会員に適用のある法令、業界団体の内部規則等に違反するか否かを自己の責任と費用に基づいて調査するものとし、当社は、会員による本サービスの利用が、会員に適用のある法令、業界団体の内部規則等に適合することを何ら保証するものではない
              %li 当社ウェブサイトから他のウェブサイトへのリンク又は他のウェブサイトから当社ウェブサイトへのリンクが提供されている場合でも、当社は、当社ウェブサイト以外のウェブサイト及びそこから得られる情報に関して如何なる理由に基づいても一切の責任を負わないものとする
              %li 当社は会員が使用する機器、設備またはソフトウェアが本サービスの利用に適さない場合であっても、本サービスの改変、修正を行う義務を負わないものとする
              %li 通信回線、ソフトウェア、ハードウェアなどのパフォーマンスの低下、障害、不正アクセスにより、本サービスのシステムの中断・遅延・中止等によって生じたいかなる損害についても、当社は一切責任を負わないものとする
              %li 当社は、本サービスに関連して当社から送られる電子メール及びウェブコンテンツに、コンピューターウィルス等の有害なものが含まれていないことを保証しないものとする
              %li 当社は、会員が本サービスを利用する際に必要とする設備や通信回線の費用について、一切負担しないものとする
              %li 会員間による行為において生じた損害については、当社は一切の責任を負わないものとする
              %li 当社は、本サービスで会員が行った取引について、その内容が会員の希望を満たすこと、有用であること等、一切の保証をしないものとする
              %li 上記の各項目の他、本サービスの利用にあたって会員に生じた一切の損害について当社は責任を負わないものとする。ただし、万が一当社の責任により会員が損害を被った場合は、当社は当該会員が直接被った通常損害に限り、当該損害の原因となった取引の対価を上限として、損害賠償責任を負うものとする
              %li 本利用規約等が消費者契約法（平成12年法律第61号）第2条第3項の消費者契約に該当する場合には、本規約のうち、当社の損害賠償責任を完全に免責する規定は適用されないものとする。また、この場合において、会員に発生した損害が当社の債務不履行又は不法行為に基づくときは、当社に故意または重過失がある場合に限り、損害賠償責任を負うものとする
          .term-box
            %h4 第2条【紛争処理】
            %ol
              %li 本サイトは、登録商品について会員間で直接取引が成立するものであり、紛争が生じた場合は両当事者において解決するものとし、当社は会員間の紛争について一切責任を負うものではない
              %li 前項に加え、会員が、本サービスに関連して他の会員その他の第三者からクレームを受け又はそれらの者との間で紛争を生じた場合には、直ちにその内容を当社に通知するとともに、会員の費用と責任において当該クレーム又は紛争を処理し、当社は必要に応じてそのサポートを行うものとする。その際、パートナーは当社からの要請に基づき、その経過及び結果を当社に報告するものとする
              %li 会員による本サービスの利用に関連して、当社が、他の会員その他の第三者から権利侵害その他の理由により何らかの請求を受けた場合は、会員は当該請求に基づき当社が他の会員その他の第三者に支払を余儀なくされた金額を賠償しなければならない
          .term-box
            %h4 第3条【協議解決】
            %p 当社及び会員は、本規約に定めのない事項又は本規約の解釈に疑義が生じた場合には、互いに信義誠実の原則に従って協議の上、速やかに解決を図るものとします。
          %h3.mt50 第6章　オーナー向け個別規程
          %p オーナーについては、本規約のほか、この「オーナー向け個別規定」が適用されるものとする。
          .term-box
            %h4 第1条【サービスについて】
            %ol
              %li 本サイトは、パートナーとオーナーとの間で取引を行うためのシステムを提供するものにすぎず、当社は事前に提供商品について確認は行うものの、最終的な情報の正確性、真実性、取引の内容の妥当性、適法性を保証するものではなく、また、取引の成否を約束するものではない
          .term-box
            %h4 第2条【取引の成立】
            %ol
              %li オーナーは、パートナーが提案する登録商品への登録が完了した際には、本サイトに掲示された取引代金を支払う事に了承し、これに同意したものとみなす
              %li 本サイトで行われる取引のクレジットカード決済は、当社が指定したサービスを利用し、既定の手続きで行うものとする。
          .term-box
            %h4 第3条【取引のキャンセル等】
            %ol
              %li オーナーはパートナーが提案する登録商品への申し込みが完了した後は、原則としてキャンセルは受付けないものとする。ただし、パートナー側による虚偽の商品説明、債務不履行等があった場合には、オーナーはパートナーとの契約を解除することができるものとし、パートナーは返金対応を行うものとする。
              %li 前項但し書きの個別事情については、パートナーとオーナーとの間での話し合いによりこれを円満に解決することとし、当社はこれについて必要な範囲において解決の協力を行うものの、取引内容については一切の責任を負わないものとする。
              %li パートナーの個別理由により、登録商品の実施前にサービスが中止された場合においては、取引代金の払い戻しをパートナーまたは当社の裁量により行う場合がある
              %li 取引のキャンセル又は中止等により取引代金の払い戻しを行う場合、当社の定める方法によるオーナーの手続完了後、原則として当社は翌々月末までに返金手続を行う。ただし、各クレジットカード会社等の事情により、オーナーへの払い戻しが遅くなる場合があり、オーナーは予めこれを了承するものとする。
              %li オーナーはパートナーの事情により取引がキャンセルされた事により損害を被った場合に、当該損害の原因となった取引における取引代金以上にはパートナーに対して損害賠償請求をすることができないものとする
              %li パートナー側が個別にキャンセルポリシーを定めている場合は、それを優先するものとする
              %li いかなる場合も、当社はオーナーに生じた損害についての損害については、責任を負わないものとする
          .term-box
            %h4 第4条【登録商品の継続確認および手続き】
            %ol
              %li 本サイトでは、登録商品の契約期間終了時期において、パートナーが登録商品の提供を次年度も実施する場合に限り、オーナーに対してその契約継続または解約の意思確認を目的とした通知を行う。オーナーは当社が示す所定の方法に従って継続または解約手続きを行うものとする。
              %li 前項において、継続の意思がある場合は決済手続き行い、次年度に向けた登録手続きを完了させるものとする。この場合、継続確認期限までにオーナーによる継続または解約の意思が確認できない場合においては、当社はオーナーの自動解約手続きを行うものとする。
          .term-box
            %h4 第5条【税金の取扱い】
            %p 本サービスに関してオーナーにかかる消費税その他の税金については、オーナーの費用と責任でこれを負担及び処理するものとし、当社は一切関知するものではない
          .term-box
            %h4 第6条【譲渡・転売の禁止】
            %ol
              %li 成立した取引に基づく権利及び義務、並びに取引の契約上の地位を、第三者に譲渡または転売することを禁止する
              %li それらの行為が行われている、または行われるおそれがあると当社が判断した場合、取引を無効とし、取引代金の払い戻しを認めない場合がある
              %li 当社は、会員が成立した取引に基づく権利及び義務、並びに取引の契約上の地位を譲渡・
          .term-box
            %h4 第7条【本サービスの利用にあたっての誓約事項】
            %ol
              %li オーナーは、自らの責任で本サービスを利用するものであり、当社に対して登録商品の情報の正確性や瑕疵担保責任等を追及できるものではないことを了解することとする。
              %li パートナーが提供する登録商品を、社会通念上適正な方法・判断をもって利用し、本サービス内でパートナーが発信する情報（ブログ）やその他SNSサービス（Facebook、Twitterなど）などにおいて、パートナーまたは他オーナーを誹謗中傷する行為、またはその運営を妨害する行為を行わないこと
              %li パートナーが実施する現地催行の参加にあたっては、パートナーが提示した条件（パートナーが本サイト上で定めるルールを含むが、これに限らない。）を遵守すること
              %li パートナーの提供する現地催行にあたって、の所有物を無断での持ち出し、汚損、破壊等してはならないこと
          %h3.mt50 第7章　当社/パートナーの義務と責任範囲
          .term-box
            %h4 第1条【本サービスの責任：当社】
            %p 当社は、本サービスが円滑に提供されるよう専用設備・サービスを維持運営することに努める。ただし、不測の事態により本サービスが利用できない場合があることを会員は予め了承するものとする
          .term-box
            %h4 第2条【本サービスの責任：パートナー】
            %p パートナーは、提供する登録商品に対して、計画に沿ったサービスと商品の提供を円滑に実施するよう努め、その内容に変更・追加または不測の事態が発生した場合は、直ちにオーナー並びに当社へ報告をするものとする
          .term-box
            %h4 第3条【オーナー間の情報】
            %p 当社ならびにパートナーは、オーナー間で直接なされた情報の授受、及びそれに付随して行われる行為については、一切責任を負わないものとする
          .term-box
            %h4 第4条【個人情報等の保護及び法令遵守】
            %ol
              %li 当社およびパートナーは個人情報等を、原則として会員本人以外の者に開示、提供せず、本サービスの提供のために必要な範囲を超えて利用しないものとする。当社が取得した会員の個人情報等は、別途定める当社のプライバシーポリシーに従い取り扱われる
              %li 当社およびパートナーは、刑事訴訟法第218条(令状による捜索)その他同法の定めに基づく強制の処分が行われた場合には、当該法令及び令状に定める範囲で前項の守秘義務を負わないものとする
              %li 当社およびパートナーは、警察官、検察官、検察事務官、国税職員、麻薬取締官、弁護士会、裁判所等の法律上照会権限を有する者から照会を受けた場合、法令に基づき必要と認められる範囲内で個人情報等の照会に応じることができる
              %li 当社は、サーバ設備の故障その他のトラブル等に対処するため、契約ディレクトリ内のデータを複写することがある
              %li 当社は会員の個人情報等をもとに、個人を特定できない形式による統計データを作成し、当社の裁量でこれを利用することがある。これについて会員は異議を唱えないものとする
          %h3.mt50 第8章　雑則
          .term-box
            %h4 第1条【広告の掲載】
            %ol
              %li 当社は、当社の裁量において、本サイトに適切と判断される広告を掲載することができる
              %li 本サイトに掲載される広告によって、会員等および第三者に生じる損害等に関して、当社は一切の責任を負わないものとする(令状による捜索)その他同法の定めに基づく強制の処分が行われた場合には、当該法令及び令状に定める範囲で前項の守秘義務を負わないものとする
          .term-box
            %h4 第2条【情報の保存】
            %ol
              %li 当社は、会員が送受信したメッセージその他の情報を運営上一定期間保存していた場合であっても、かかる情報を保存する義務を負うものではなく、当社はいつでもこれらの情報を削除できるものとする
              %li 当社は、本条に基づき当社が行った措置により会員に生じた損害について、一切の責任を負わないものとする
          .term-box
            %h4 第3条【著作権、知的財産権】
            %ol
              %li 当社が提供するサービス上で、当社が掲示した内容に関する著作権等の知的財産権は、別段の定めのない限り全て当社に帰属する。
              %li 会員が解約及び会員資格の停止、取り消しとなった場合であっても、それ以前に提供した情報の権利は前項によるものとする
              %li 会員から投稿された著作権にかかるものは、それを投稿した会員に帰属する。ただし、当社が本サービス外のウェブサイトや出版物、その他メディア等に、これらの情報を二次利用（表示・引用・転載・変更・切除・その他改変等）する場合、当社による事前に通知を行う場合に限り、会員はこれを許諾するものとする。
              %li 会員は、第三者が著作権、商標権、意匠権等の知的所有権を有する著作物、標章、サービスマーク、デザイン、表示等を当社が提供するサービス上に掲載する場合は、会員が当該知的所有権保持者より許諾を得る必要がある場合、これらの許諾を得ている事について表明保証するものとする。
              %li 前項に違反して問題が発生した場合、会員は自己の費用と責任においてかかる問題を解決するとともに、当社に何らの損害を与えないものとする
          .term-box
            %h4 第4条【連絡通知】
            %p 本サービスに関する問い合わせ、その他会員から当社に対する連絡または通知及び本規約の変更に関する通知、その他当社から会員に対する連絡または通知は、当社の定める方法で行うものとする
          .term-box
            %h4 第5条【サービスの契約上の地位の譲渡】
            %p 当社は本サービスにかかる事業を他社に譲渡した場合は、当該事業譲渡に伴い、本サービス利用契約上の地位、本規約に基づく権利および義務ならびに会員の登録事項、その他の会員情報を当該事業譲渡の譲受人に譲渡する事ができるものとし、会員はかかる事業譲渡につき本条において予め同意したものとする。尚、本条に定める事業譲渡には通常の事業譲渡のみならず、会社分割、その他の事業が移転するあらゆる場合を含むものとする
          .term-box
            %h4 第6条【準拠法】
            %p 本規約に関する準拠法は、全て日本国の法令が適用されるものとする
          .term-box
            %h4 第7条【管轄裁判所】
            %p 1.本規約に関する全ての紛争については、東京地方裁判所または簡易裁判所を第一審の専属的合意管轄裁判所とすることを予め合意する
          .term-box
            %h4 第8条【分離可能性】
            %ol
              %li 本規約のいずれかの条項又はその一部が、消費者契約法その他の法令等により無効又は執行不能と判断された場合であっても、本規約の残りの規定及び一部が無効又は執行不能と判断された規定の残りの部分は、継続して完全に効力を有するものとする
              %li 当社及び会員は、当該無効若しくは執行不能の条項又は部分を適法とし、執行力を持たせるために必要な範囲で修正し、当該無効若しくは執行不能な条項又は部分の趣旨並びに法律的及び経済的に同等の効果を確保できるように努めるものとする
          %p.end_txt
            平成27年11月20日　制定
            %br/
            平成29年10月1日　改定
    .row
      .col
    .row.d-none.d-lg-block
      .col.p-0.d-flex.justify-content-end
        %button.white{:onclick => "location.href='/orders/input/118?separated=0'", :type => "button"}
          %i.arrow_left_green
          戻る
        %button.submit_button{:type => "submit"}
          %i.arrow_right_white
          利用規約に同意して進む
    .d-none.d-lg-block{:style => "height: 114px"}
  .d-block.d-lg-none{:style => "height: 114px"}
  .fixed-bottom.d-block.d-lg-none.d-xl-none.sp_purchase_footer
    .text-center.total_price_section
      %span.total_price
        合計
        %span#sum_sp 4,900
        円
      %span.tax_shipping_fee (税・送料込)
    %button.justify-content-center.button_footer_sp.w-100{:onclick => "$('#confirm_form').submit()", :type => "button"} 利用規約に同意して進む
  %input#course_id_list{:name => "course_id_list", :type => "hidden"}/
  %input#course_count_list{:name => "course_count_list", :type => "hidden"}/
  %input#csrf_token{:name => "csrf_token", :type => "hidden", :value => "IjhlODE0MjMyYTNjMmM2ZWI0ZmU1ZDliNzQ5OWM2Yzc5M2ViYjgwMWEi.DklF1w.k9ELGUekjQC0sFZJlgoKZ1Yi6XE"}
