= form_for @plan, html: {class: "plan_form"} do |f|
  %ul.plan_topics
    %li.plan_topic
      = f.label :title, "タイトル"
      = f.text_field :title
    %li.plan_topic
      = f.label :shop_name, "店舗名"
      = f.text_field :shop_name
    %li.plan_topic
      = f.label :place, "産地"
      = f.text_field :place
    %li.plan_topic
      = f.label :contents, "コンテンツ"
      = f.text_area :contents
    %li.plan_topic
      = f.label :plan_detail, "プラン詳細"
      = f.text_area :plan_detail
    %li.plan_topic
      = f.label :closing_date_month, "締め切り(月)"
      = f.text_field :closing_date_month
    %li.plan_topic
      = f.label :closing_date_day, "締め切り(日)"
      = f.text_field :closing_date_day
    %li.plan_topic
      = f.label :registration_fee, "登録料"
      = f.text_field :registration_fee
    %li.plan_topic.image_index
      = f.fields_for :captured_images do |image|
        = image.label :captured_images, "インデックス写真"
        = image.file_field :content
        = image.hidden_field :order, value: 1
        = image.hidden_field :status, value: "index"
        .preview
    %li.plan_topic.image_main
      = f.fields_for :captured_images do |image|
        = image.label :captured_images, "メイン(背景)写真"
        = image.file_field :content
        = image.hidden_field :order, value: 1
        = image.hidden_field :status, value: "main"
        .preview
    %li.plan_topic.image_sub
      = f.fields_for :captured_images do |image|
        = image.label :captured_images, "サブ(本文中)写真 1"
        = image.file_field :content
        = image.hidden_field :order, value: 1
        = image.hidden_field :status, value: "sub"
        .preview
        %button.add_images_sub 追加
    %li.plan_topic.image_card
      = f.fields_for :captured_images do |image|
        = image.label :captured_images, "カード写真 1"
        = image.file_field :content
        = image.hidden_field :order, value: 3
        = image.hidden_field :status, value: "card"
        .preview
        %button.add_images_card 追加
  = f.submit "Create"
= link_to "Sign Out", destroy_owner_session_path, method: :delete
