= form_for @plan, html: {class: "plan_form"} do |f|
  = f.label :title, "タイトル"
  = f.text_field :title
  = f.label :shop_name, "店舗名"
  = f.text_field :shop_name
  = f.label :partner_message, "メッセージ"
  = f.text_field :partner_message
  = f.label :capacity, "募集枠"
  = f.text_field :capacity
  = f.label :place, "産地"
  = f.text_field :place
  = f.label :closing_date_month, "締め切り(月)"
  = f.text_field :closing_date_month
  = f.label :closing_date_day, "締め切り(日)"
  = f.text_field :closing_date_day
  = f.label :registration_fee, "登録料"
  = f.text_field :registration_fee
  = f.label :content_of_service, "提供品"
  = f.text_field :content_of_service
  = f.label :contract_period, "契約期間"
  = f.text_field :contract_period
  = f.label :plan_schedule, "プランの日程"
  = f.text_field :plan_schedule
  = f.label :benefits, "特典"
  = f.text_field :benefits
  = f.label :etc, "備考"
  = f.text_field :etc

  - 1.times do |i|
    = f.fields_for :captured_images do |image|
      = image.label :captured_images, "メイン(背景)写真"
      = image.file_field :content
      = image.label :order, "メイン(背景)写真_番号"
      = image.text_field :order, value: "#{i+1}"
      = image.hidden_field :status, value: "main"

  - 3.times do |i|
    = f.fields_for :captured_images do |image|
      = image.label :captured_images, "サブ(本文中)写真"
      = image.file_field :content
      = image.label :order, "サブ(本文中)写真_番号"
      = image.text_field :order, value: "#{i+1}"
      = image.hidden_field :status, value: "sub"

  = f.submit "Create"
= link_to "Sign Out", destroy_owner_session_path, method: :delete
