%body
  #wrapper
    #container
      .hero-single{:style => "background: -webkit-linear-gradient(rgba(0,0,0,.6),transparent),url(https://s3-ap-northeast-1.amazonaws.com/owners-pro/Product/138/main_image/main_7_IMG_1484.jpg);background: linear-gradient(rgba(0,0,0,.6),transparent),url(#{@plan.captured_images.where('status="0"').first.content});background-size: cover;"}
        %header.header
          = render "header_header"
          .product-message
            %h2
              = @plan.title
            %figure.shop-partner
              %img{:alt => "", :height => 110, :s3 => "1", :src => "#{@plan.captured_images.where('status="4"').first.content}", :ssl => "1", :width => 110}/
            %p.shop-name
              = @plan.shop_name
            / .partner-message
            /   %p
            /     南房総の恵みが溢れる町で、こだわりのパッションフルーツを作っています
      .sticky
        = render "sticky"
      %link{:href => "", :rel => "stylesheet", :type => "text/css"}/
      #product-data
        .layout-bpx
          .left-box
            / %dl.brown
            /   %dt 定員残り
            /   %dd
            /     %span 40
            %dl
              %dt 産地
              %dd
                %span.nomal
                  = @plan.place
            %dl
              %dt 募集締切
              %dd
                %span>
                  = "#{@plan.closing_date_month}月"
                %span>
                  = "#{@plan.closing_date_day}日"
          %a.btn-green.ajax{:href => "/orders/select_course/#{@plan.id}"} お申し込み
        / /layout-bpx
      / /product-data
      #product-content
        %article.content
          %section
            = sanitize @plan.contents, tags: %w(img h3 p br), attributes: %w(src alt)
        .right-column
          - @plan.courses.each do |course|
            .plan_summaly_list.mb-5
              .card.border-0
                .card-img-top{:style => "\n\nbackground-image: url(#{course.captured_image_courses.first.content});\n\n"}
                  .header
                    %h5.card-title
                      = course.title
                    .card-text
                      = "#{course.price}円 (税・送料込み)"
                .card-body
                  = sanitize course.card_desc_summary, tags: %w(p br)
                  .text-center.mt-2
                    %span.button.d-block{:onclick => "location.href='#course_list'"} コース詳細

          / .right-column
          / .price-area.paper
          /   %h2{:style => "margin-bottom: 0px;"} オーナー登録費
          /   %p{:style => "color: #2d1d09;text-align: center;"} （消費税・送料込）
          /   %p.price{:style => "margin-bottom: 10px;"}
          /     ¥
          /     %span 6,500
          /   %p.detail
          /     ▼提供内容
          /     %br/
          /     %br/
          /     商品：
          /     %br/
          /     ・大玉パッションフルーツ11個(90-100g/個)
          /     %br/
          /     ・リリコイバター1個(110g)
          /     %br/
          /     ※2箱1セットでお届けします。
          /     %br/
          /     %br/
          /     時期：
          /     %br/
          /     2018年9月上旬〜下旬
          /     %br/
          /     %br/
          /     ※収穫サイズにより数量が変更する場合がございます。
          /     %br/
          /     %br/
          /     ▼契約期間
          /     %br/
          /     登録後から、最終商品のお届け月まで
          /     %br/
          /     %br/
          /     ▼登録特典
          /     %br/
          /     園地での収穫体験
          /     %br/
          /     ※日時はご希望に添えない場合がございます
          /     %br/
          /     %br/
          /     ▼募集定員
          /     %br/
          /     50人
          /     %br/
          /     %br/
          /     ▼募集期間
          /     %br/
          /     2018年6月15日〜2018年8月31日まで
          /     %br/
          /     %br/
          /     ▼オーナー登録費
          /     %br/
          /     6,500円 （消費税・送料1回含む）
          /     %br/
          /     %br/
          /     ※発送場所が沖縄または離島となる場合は、別途配送料がかかります。
          / .schedule-area.paper
          /   %h2 プランスケジュール
          /   商品：
          /   %br/
          /   ・大玉パッションフルーツ11個
          /   %br/
          /   (90-100g/個)
          /   %br/
          /   ・リリコイバター1個(110g)
          /   %br/
          /   ※2箱1セットでお届けします。
          /   %br/
          /   %br/
          /   時期：
          /   %br/
          /   2018年9月上旬〜下旬
          /   %br/
          /   %br/
          /   ※収穫サイズにより数量が変更する
          /   %br/
          /   場合がございます。
          / .blog-area.paper
          /   %h2 コミュニケーションページ
          /   %dl
          /     %dt 2018/07/12
          /     %dd
          /       %i.sprite-2x.icon-pen-b
          /       %a{:href => "/articles/576"}
          /         この暑さで収穫前倒しになりそうです！
          / %p.law
          /   %a{:href => "/products/law/10"} 特定商取引に関する表記
          .sns-area
            %ul
              %li.fb-box
                .fb-like{"data-href" => "https://owner-style.com/products/@plan.id", "data-layout" => "box_count"}
              %li.tw-box
                %a.twitter-share-button{"data-count" => "vertical", "data-lang" => "ja", "data-url" => "https://owner-style.com/products/138", :href => "https://twitter.com/share"} ツイート
                :javascript
                  // <![CDATA[
                    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.async = true;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                  // ]]>
              %li.hatena{:style => "margin-top: 20px;display: block;"}
                %a.hatena-bookmark-button{"data-hatena-bookmark-lang" => "ja", "data-hatena-bookmark-layout" => "vertical-balloon", :href => "http://b.hatena.ne.jp/entry/https://owner-style.com/products/138", :title => "このエントリーをはてなブックマークに追加"}
                  %img{:alt => "このエントリーをはてなブックマークに追加", :height => "20", :src => "https://b.st-hatena.com/images/entry-button/button-only@2x.png", :style => "border: none;", :width => "20"}/
                %script{:async => "async", :charset => "utf-8", :src => "https://b.st-hatena.com/js/bookmark_button.js", :type => "text/javascript"}
          .order
            %a.btn-green.ajax{href: "/orders/select_course/#{@plan.id}"} お申し込み

      %section#course_list.plan_detail_list
        .container.pt-5
          - if @plan.courses.length ==1
            %h1.text-center プラン詳細
          - else
            %h1.text-center コース一覧
          .row.d-flex.justify-content-center
            - @plan.courses.each do |course|
              .col-4.mb-4
                .card.border-0
                  .card-img-top{:style => "background-image: url(#{course.captured_image_courses.first.content});"}
                  .header
                    %h2.card-title
                      = course.title
                    .price.mb-3
                      = "#{course.price}円"
                      %small （消費税・送料込み）
                    %a.text-center{:href => "/orders/select_course/#{@plan.id}"} このコースでオーナーになる
                  - course.course_descriptions.each do |desc|
                    = sanitize desc.content, tags: %w(div h3 p br), attributes: %w(class)
          .single.card
            %h5.card-header その他プランの説明
            = sanitize @plan.plan_detail, tags: %w(div br a), attributes: %w(class href)

    .section-map
      %h4.text-center \このあたりで作っています！/
      #map-space{:style => "width:100%;height:400px;"}
        :javascript
          var map;
          function initMap() {
            var latlng = new google.maps.LatLng(#{@plan.lat}, #{@plan.lng});
            map = new google.maps.Map(document.getElementById('map-space'), {
              center: latlng,
              zoom: 7,
              scrollwheel: false,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            var markerOptions = {
              map: map,
              position: latlng,
            };
            var marker = new google.maps.Marker(markerOptions);
          }
        %script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyBWJFX6O2tVemcb6ITiPx0Gj8nOOojLUPY&callback=initMap"}
      %footer#footer
        = render "footer"
    / ＃container
  / ＃wrapper
  %a#page-top{:href => "#wrapper"}
    %i.sprite-2x.arrow-pagetop
  %script{:src => "", :type => "text/javascript"}
  #fb-root
